* {
	margin: 0;
	padding: 0;

}
html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
}
nav ul li a.active {
	font-weight: bold;
} 
.img {
	display: block;
	max-width: 100%;
    height: auto;
}

ul, ol {
	list-style-type: none;
}
.hed {
    text-align: left;
    color: #ffffff;
    max-width: 80%; 
	width: 75%;
    max-width: 1600px;
    margin: 20px auto;
    padding: 20px;
    position: relative;
	margin-top: 80px;
}
h1{
	font-family: 'Libre Franklin', sans-serif;
	font-size: 64px;
	font-weight: 400;
	line-height: 77.57px;
}
.conteiner{
	text-align: left;
    color: #000000;
    max-width: 80%; 
	width: 75%;
    max-width: 1600px;
    margin: 20px auto;
    padding: 20px;
    position: relative;
	margin-top: 80px;
}
.full-width-background {
    background: #FFFAF2; 
    width: 100%; 
    padding: 20px 0; 
}
.grid-container {
    display: grid; 
	grid-template-columns: repeat(3, 1fr);
    max-width: 1600px;
    margin: 20px auto;

}
.grid-container2 {
    display: grid;
	grid-template-columns: 3fr 3fr 1fr 1fr;
    max-width: 1600px;
    margin: 20px auto;

}
.profile {
	white-space: nowrap; 
    gap: 20px; 
	display: grid;
    grid-template-columns: 1fr 3fr;
}
h2{
	font-family: 'Libre Franklin', sans-serif;
	font-size: 24px;
	line-height: 29.09px;
	text-align: left;
	color: #333333;
	font-weight: bold;
	margin-bottom: 80px;
}
p{
	font-family: 'Libre Franklin', sans-serif;
	font-size: 18px;
	font-weight: 400;
	line-height: 30px;
	text-align: justify;
	margin-top: 80px;
	margin-bottom: 80px;
}
.p{
	font-family: 'Libre Franklin', sans-serif;
	font-size: 24px;
	font-weight: 400;
	line-height: 29.09px;
	margin-top: 40px;

}
.t{
	font-weight: 550;
	margin: 0 60px 90px 90px;
	line-height: 25px;
}
.text{
	color: #333333;
	font-weight: 550;
	margin: 0 40px 0 90px;
	line-height: 25px;
	font-size: 18px;
}
.text-knowledge{
	margin: 0 0 0 0;
}
.text1{
	margin: 0 80px 40px 0;
}
.a{
	font-family: 'Libre Franklin', sans-serif;
	font-size: 18px;
	line-height: 21.82px;
	color: #fff;
	display: inline-block; 
    margin-top: 100px; 
}
.a1{
	font-family: 'Libre Franklin', sans-serif;
	font-size: 18px;
	line-height: 21.82px;
	color: #000000;
	display: inline-block; 
    margin-bottom: 50px; 
}
.header-block {
	height: 100vh;
	position: relative;
	background: url('main-bg.png');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.header-block header {
	position: relative;
	z-index: 10;
}

.overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(198, 108, 73, 0.30);
}

header .content-wrap .logo {
	order: 2;
}

.icons {
	color: #fff;
}

.logo {
	font-size: 1.5rem;
	color: #ffffff;
	font-family: 'Libre Franklin', sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 29.09px;
    text-align: left;
	margin-top: 95px;

}


.menu-list li:not(:last-child) {
	margin-bottom: 20px;
	padding: 6px;
}

.menu-list {
    position: absolute;
    top: 0;
    right: 0; 
    background: transparent; 
    width: auto; 
    padding-left: 500px; 
	margin-top: 95px;
}

.menu-list li {
    display: inline-block;
    margin-right: 26px; 
}

.menu-list a {
    font-size: 18px;
    text-decoration: none;
    color: #ffffff;
    font-family: 'Libre Franklin', sans-serif;
    line-height: 22px;
}


.ul{
	padding: 0;
}

.ul li{
	margin: 22px;
	list-style-type: none;
}
.ul a{
	font-size: 2rem;
	text-decoration: none;
	color: #000000;
	font-family: 'Libre Franklin', sans-serif;
    font-size: 18px;
    line-height: 22px;
    text-align: right;
}
.bar {
    background: #F5D6AB;
    overflow: hidden;
	width: 140%;
}

.level {
    height: 20px;
	background: #C66C49;
}
.skills {
    width: 100%;
    margin: 50px auto;
    background: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.foto1, .foto2 {
    height: auto;
    object-fit: cover; 
}
.foto1 {
    width: 350px;
}

.foto2 {
    width: 255px;
}
.foto-position{
	margin: -85px 0 0px 0;
}
.foto3{
	width: 25px;
	height: auto;
	margin: -60px 0 80px 0 ;
}
.f4{
	width: 25px;
	height: auto;
	align-self: flex-end; 
    margin-top: auto;
}

/*Global styles*/
.content-wrap {
	padding: 0 20px;
	max-width: 1100px;
	margin: 0 auto;
	align-items: flex-end;
	justify-self: left;
	width:90%;
}

.d-flex {
	display: flex;
}

.hide {
	display: none;
}

.hide-menu {
	position: absolute;
	left: -9999px;
}

@media screen and (min-width: 800px) {
	header .content-wrap .logo {
		order: 0;
	}
	.icons {
		display: none;
	}
	.hide-menu {
		position: static;
	}
	.menu-list {
		background: transparent;
	}
}

@media (max-width: 800px){
	.menu-list li{
		display: block;
	}	
	.menu-list {
		background: none;
		width: 100%;
		margin-top: 130px;
	}

	.logo {
		flex-grow: 1; /* Додає простір для "Portofolio" */
		display: flex;
		justify-content: center; 
		align-items: center;     
	}
	
	.hed {
		text-align: center;
		margin: 20px auto;
		padding: 20px;
		margin-top: 60px;
	}
	h1{
		font-size: 20px;
		line-height: 24.24px;

	}
	.p{
		font-size: 13px;
		line-height: 15.76px;
		text-align: center;
	}
	.a{
		font-size: 13px;
		line-height: 15.76px;
		text-align: left;
	}
	
	.header-block {
		height: 80vh;
		position: relative;
	}
	.conteiner{
		text-align: center;
		margin: 20px auto;
		padding: 20px;
		position: relative;
		margin-top: 20px;
	}
	h2{
		font-size: 24px;
		line-height: 29.09px;
		text-align: center;
		margin-bottom: 20px;
	}
	p{
		margin-top: 20px;
		margin-bottom: 20px;
		font-size: 12px;
		line-height: 14.54px;
	}
	.grid-container {
		grid-template-columns: repeat(1, 1fr);
		margin: auto;
		align-items: center;
	}
	.conteiner{
		width: 90%;
		margin: 10px auto;
		padding: 10px;
		position: relative;
	}
	.conteiner1{
		width: 100%;
		margin: 10px auto;
		padding: 10px;
		position: relative;
	}
	.position{
		margin: 0 0 20px 20px;
		display: flex;
		justify-content: center;
	}
	.profile {
		gap: 10px; 
	}
	.text{
		font-weight: 550;
		margin: 0 20px 0 0;
		font-size: 12px;
		line-height: 25px;
		text-align: left;
	}
	.text-knowledge{
		margin: 0;
	}
	.skills {
		width: 100%;
		margin: 50px auto;
		padding: 10px;
	}
	.bar {
		width: 100%;
	}
	
	.text1{
		text-align: center;
		margin-left: 60px;
	}
	.t{

		text-align: center;
	}
	.profile1{
		display: block;
	}
	.profile-container {
		display: flex;
		justify-content: center;  
		align-items: center; 
	}
	.w {
		display: grid;
		grid-template-columns: repeat(2, auto); 
		grid-template-rows: repeat(2, auto);    
		gap: 10px;                             
	}
	.foto1 {
		width: 230px;
		
	}
	
	.foto2 {
		width: 170px;
	}
	.foto-position{
		margin: -60px 0 0px 0;
	}
	.foto3{
		display: none;
	}
	.ul a{
		font-size: 14px;
		line-height: 16.97px;


	}
	.grid-container2 {
		display: grid; 
		grid-template-columns: 4fr 3fr ;
		width: 100%;
		margin: 20px auto;
		text-align: left;
	}
	.text2{
		font-size: 14px;
		line-height: 16.97px;
		margin: 0px 0px 0 20px;
	}

}
