* {
	margin: 0;
	padding: 0;

}
html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
}
nav ul li a.active {
	font-weight: bold;
}

.img {
	display: block;
	max-width: 100%;
    height: auto;
}
.img2 {

	max-width: 100%; /* Ensures the image scales down with the container */
	height: auto; /* Maintains the aspect ratio of the image */
	margin: 80px 0 80px 0; /* 80px top and bottom margins */
	display: inline-block;
}

ul, ol {
	list-style-type: none;
}
.hed {
    text-align: left;
    color: #ffffff;
    max-width: 80%; /* Optional: to ensure it doesn't exceed the width */
	width: 75%;
    max-width: 1600px;
    margin: 20px auto;
    padding: 20px;
    position: relative;
	margin-top: 80px;
}
h1{
	font-family: 'Libre Franklin', sans-serif;
	font-size: 64px;
	font-weight: 400;
	line-height: 77.57px;
}
.conteiner{
	text-align: left;
    color: #000000;
    max-width: 80%; /* Optional: to ensure it doesn't exceed the width */
	width: 75%;
    max-width: 1600px;
    margin: 20px auto;
    padding: 20px;
    position: relative;
	margin-top: 80px;
}
.full-width-background {
    background: #FFFAF2; /* Background color for the full-width section */
    width: 100%; /* Full width of the screen */
    padding: 20px 0; /* Optional: add vertical padding */
}
.grid-container {
    display: grid; /* Use CSS Grid for layout */
	grid-template-columns: repeat(3, 1fr);
    max-width: 1600px;
    margin: 20px auto;

}
.grid-container2 {
    display: grid; /* Use CSS Grid for layout */
	grid-template-columns: 3fr 3fr 1fr 1fr;
    max-width: 1600px;
    margin: 20px auto;

}
.profile {
	white-space: nowrap; 
    gap: 20px; /* Optional: space between elements */
	display: grid;
    grid-template-columns: 1fr 3fr;
}
.p2{
	font-family: 'Libre Franklin', sans-serif;
	font-size: 24px;
	line-height: 29.09px;
	text-align: left;
	color: #333333;
	font-weight: bold;
	margin-bottom: 80px;
}
.p3{
	font-family: 'Libre Franklin', sans-serif;
	font-size: 18px;
	font-weight: 400;
	line-height: 30px;
	text-align: justify;
	margin-top: 80px;
	margin-bottom: 80px;
}
.p{
	font-family: 'Libre Franklin', sans-serif;
	font-size: 24px;
	font-weight: 400;
	line-height: 29.09px;
	margin-top: 40px;

}
.t{
	font-weight: 550;
	margin: 0 60px 90px 90px;
	line-height: 25px;
}
.t3{
	color: #333333;
	font-weight: 550;
	margin: 0 40px 0 90px;
	line-height: 25px;
	font-size: 18px;
}
.t4{
	margin: 0 0 0 0;
}
.t1{
	margin: 0 80px 40px 0;
}
.a{
	font-family: 'Libre Franklin', sans-serif;
	font-size: 18px;
	line-height: 21.82px;
	color: #fff;
	display: inline-block; 
    margin-top: 100px; 
}
.header-block {
	height: 100vh;
	position: relative;
	background: url('main-bg.png');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.header-block header {
	position: relative;
	z-index: 10;
}

.overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(198, 108, 73, 0.30);
}

header .content-wrap .logo {
	order: 2;
}

.icons {
	color: #fff;
}

.logo {
	font-size: 1.5rem;
	color: #ffffff;
	font-family: 'Libre Franklin', sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 29.09px;
    text-align: left;
	margin-top: 95px;

}


.menu-list li:not(:last-child) {
	margin-bottom: 20px;
	padding: 6px;
}

.menu-list {
    position: absolute;
    top: 0;
    right: 0; /* Залишаємо праве вирівнювання */
    background: transparent; /* Прибираємо білий фон */
    width: auto; /* Ширина автоматично підлаштовується під вміст */
    padding-left: 500px; /* Додаємо відступи для правильного розміщення */
	margin-top: 95px;
}

.menu-list li {
    display: inline-block;
    margin-right: 26px; /* Відступ між елементами праворуч */
}

.menu-list a {
    font-size: 18px;
    text-decoration: none;
    color: #ffffff;
    font-family: 'Libre Franklin', sans-serif;
    line-height: 22px;
}


.ul{
	padding: 0;
}

.ul li{
	margin: 22px;
	list-style-type: none;
}
.ul a{
	font-size: 2rem;
	text-decoration: none;
	color: #000000;
	font-family: 'Libre Franklin', sans-serif;
    font-size: 18px;
    line-height: 22px;
    text-align: right;
}
.bar {
    background: #F5D6AB;
    overflow: hidden;
	width: 140%;
}

.level {
    height: 20px;
	background: #C66C49;
}
.skills {
    width: 100%;
    margin: 50px auto;
    background: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.f1, .f2 {
    height: auto;
    object-fit: cover; 
}
.f1 {
    width: 350px;
}

.f2 {
    width: 255px;
}
.fo{
	margin: -85px 0 0px 0;
}
.f3{
	width: 25px;
	height: auto;
	margin: -60px 0 80px 0 ;
}
.f4{
	width: 25px;
	height: auto;
	align-self: flex-end; 
    margin-top: auto;
}

/*Global styles*/
.content-wrap {
	padding: 0 20px;
	max-width: 1100px;
	margin: 0 auto;
	align-items: flex-end;
	justify-self: left;
	width:90%;
}

.d-flex {
	display: flex;
}

.hide {
	display: none;
}

.hide-menu {
	position: absolute;
	left: -9999px;
}

@media screen and (min-width: 800px) {
	header .content-wrap .logo {
		order: 0;
	}
	.icons {
		display: none;
	}
	.hide-menu {
		position: static;
	}
	.menu-list {
		background: transparent;
	}
}

@media (max-width: 800px){
	.menu-list li{
		display: block;
	}	
	.menu-list {
		background: none;
		width: 100%;
		margin-top: 130px;
	}

	.logo {
		text-align: center;
	}
	.hed {
		text-align: center;
		margin: 20px auto;
		padding: 20px;
		margin-top: 60px;
	}
	h1{
		font-size: 20px;
		line-height: 24.24px;

	}
	.p{
		font-size: 13px;
		line-height: 15.76px;
	}
	.a{
		font-size: 13px;
		line-height: 15.76px;
		text-align: left;
	}
	
	.header-block {
		height: 80vh;
		position: relative;
	}
	.conteiner{
		text-align: center;
		margin: 20px auto;
		padding: 20px;
		position: relative;
		margin-top: 20px;
	}
	.p2{
		font-size: 24px;
		line-height: 29.09px;
		text-align: center;
		margin-bottom: 20px;
	}
	.p3{
		margin-top: 20px;
		margin-bottom: 20px;
		font-size: 12px;
		line-height: 14.54px;
	}
	.grid-container {
		grid-template-columns: repeat(1, 1fr);
		margin: auto;
		align-items: center;
	}
	.conteiner{
		width: 90%;
		margin: 10px auto;
		padding: 10px;
		position: relative;
	}
	.conteiner1{
		width: 100%;
		margin: 10px auto;
		padding: 10px;
		position: relative;
	}
	.i{
		margin: 0 0 20px 20px;
		display: flex;
		justify-content: center;
	}
	.profile {
		gap: 10px; /* Optional: space between elements */
	}
	.t3{
		font-weight: 550;
		margin: 0 20px 0 0;
		font-size: 12px;
		line-height: 25px;
		text-align: left;
	}
	.t4{
		margin: 0;
	}
	.skills {
		width: 100%;
		margin: 50px auto;
		padding: 10px;
	}
	.bar {
		width: 100%;
	}
	
	.t1{
		text-align: center;
		margin-left: 60px;
	}
	.t{

		text-align: center;
	}
	.profile1{
		display: block;
	}
	.w{
		display: flex;
		justify-content: center;  /* Центрування по горизонталі */
		align-items: center; 
	}
	.f1 {
		width: 230px;
		
	}
	
	.f2 {
		width: 170px;
	}
	.fo{
		margin: -60px 0 0px 0;
	}
	.f3{
		display: none;
	}
	.ul a{
		font-size: 14px;
		line-height: 16.97px;


	}
	.grid-container2 {
		display: grid; /* Use CSS Grid for layout */
		grid-template-columns: 4fr 3fr ;
		width: 100%;
		margin: 20px auto;
		text-align: left;
	}
	.t5{
		font-size: 14px;
		line-height: 16.97px;
		margin: 0px 0px 0 20px;
	}
	
}
